# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true
indent_brace_style = K&R
indent_style = space
indent_size = 2
spaces_around_brackets = inside
spaces_around_operators = true

[*.md]
max_line_length = 0
trim_trailing_whitespace = false

[*.gradle]
